<footer class="py-5">
    <img src="/img/oreologo.png" width="300" height="220"></img>
    <p>Copyright &copy; 2023 OREO-OZO. All rights reserved.</p>
    Sparta Coding Club - NBC - Node.js class B
    <p>김재광 김형집 김희서 이호승 장준호</p>
    
</footer>