<footer class="py-5">
    <img src="/img/oreologo.png" width="250" height="auto"></img>
    <div>Copyright &copy; 2023 OREO-OZO. All rights reserved.</div>
    Sparta Coding Club - NBC - Node.js class B
    <div>김재광 김형집 김희서 이호승 장준호<div>
</footer>