<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
    <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/img/cake.svg" width="60" height="45"></img>
        <span class="nav-link active">OREO-OZO Bakery Shop</span>
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/" class="nav-link px-2 link-dark">상품 주문</a></li>
        <li><a href="/cart" class="nav-link px-2 link-dark">장바구니</a></li>
        <li><a href="/mypage" class="nav-link px-2 link-secondary">내 정보</a></li>


      </ul>

      <div class="col-md-3 text-end">
        <button type="button" class="btn btn-outline-dark me-2" onclick="location.href='/signup' ">회원가입</button>
        <button type="button" class="btn btn-dark" onclick="location.href='/login' ">로그인</button>
            
      </div>

</header>