<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-3 border-bottom">
    <a class= oreologo href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <img src="/img/oreologo4.png" width="200" height="auto"></img>
        <!-- <img src="/img/cake.svg" width="70" height="50"></img>
        <span class="nav-link active">OREO-OZO Bakery Shop</span> -->
    </a>
    <ul class="nav col-10 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="/myorders" id="orderpagebutton" class="nav-link px-2 link-dark">주문내역</a></li>
        <li><a href="/cart" id="cartpagebutton" class="nav-link px-2 link-dark">장바구니</a></li>
    </ul>

    <div class="col-md-3 text-end">
        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><button onclick="location.href='/login'" id="loginpagebutton" class="btn btn-outline-dark me-2"
                        style="display:block;">로그인</button></li>
            <li><button onclick="logout()" id="logoutbutton" class="btn btn-outline-dark me-2" style="display:none;
">로그아웃</button></li>
            <li><a href="/signup" id="signuppagebutton" class="btn btn-outline-dark me-2">회원가입</a></li>
            <li><a href="/admin_index" id="admin_indexbutton" class="btn btn-outline-dark me-2">관리자 페이지</a></li>
            <li><a href="/mypage" id="mypagebutton" class="btn btn-outline-dark me-2">회원 정보</a></li>
        </ul>
    </div>
</header>