<body>
    <div class="d-flex justify-content-between align-items-end" style="margin-bottom: 10px">
        <h2>장바구니</h2>
        <a class="btn btn-outline-dark" href="/" role="button">상품 주문하기</a>
    </div>
    <section>
        <div id="product-table">
            <table class="table table-hover align-middle text-center">
                <thead class="table-dark">
                <tr>
                    <th scope="col">상품명</th>
                    <th scope="col">판매가</th>
                    <th scope="col">상세설명</th>
                    <th scope="col">상품이미지</th>
                    <th scope="col">수량</th>
                    <th scope="col">수정</th>
                </tr>
                </thead>
                <div id ="cart_item">
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>2</td>
                            <td>3</td>
                            <td>4</td>
                            <td>5</td>
                            <td>6</td>
                        </tr>
                    </tbody>
                </div>
            </table>
        </div>
    
    </section>
    
    <script> 
        $(document).ready(function () {
            get_cart()
        });
        //받아올거 상품명 판매가 상세설명 상품이미지 수량
        //    product_name,product_price,product_detail,product_image,item_quantity
        function get_cart(){
            $.ajax({
            type: "GET",
            url: "/cart_items",
            data: {},
            success: function (response) {
                console.log("들어옴?")
                console.log(response)
        
            }
        });
    }
    </script>
    </body>