<body>
    <div class="d-flex justify-content-between align-items-end" style="margin-bottom: 10px">
        <h2>장바구니</h2>
        <a class="btn btn-outline-dark" href="/" role="button">상품 주문하기</a>
    </div>
    <section>
        <div id="product-table">
            <table class="table table-hover align-middle text-center">
                <thead class="table-dark">
                <tr>
                    <th scope="col">상품명</th>
                    <th scope="col">판매가</th>
                    <th scope="col">상세설명</th>
                    <th scope="col">상품이미지</th>
                    <th scope="col">수량</th>
                    <th scope="col">수정</th>
                </tr>
                </thead>
                <tbody id = 'cart_item'>
                </tbody>
            </table>
        </div>
    
    </section>
    
    <!--    <script src="./admin_products.js" type="text/javascript"></script>-->
    <script> 
        $(document).ready(function () {//npm run dev 서버 
            get_cart()
        });
        //받아올거 상품명 판매가 상세설명 상품이미지 수량
        //    product_name,product_price,product_detail,product_image,item_quantity
    </script>
    </body>