<body>
    <section>
        <div class="loginCard">
          <form>
            <input type="text" id="loginEmail" placeholder="이메일을 입력해 주세요." onkeyup="if(window.event.keyCode==13){login()}" />
            <input type="password" id="loginPassword" placeholder="비밀번호를 입력해 주세요." onkeyup="if(window.event.keyCode==13){login()}" />
          </form>
          <div class="actions">
            <a onclick="login()" class="btn btn-outline-secondary" type="button">로그인</button>
            <a onclick="location.href='/signuppage'" class="btn btn-outline-secondary" type="button">회원가입</a>
          </div>
        </div>
    </section>
</body>
