<link rel="stylesheet" href="css/managermain.css" />


<body class="managermain-body">
  <div class="containerWrapOuter">
    <div class="containerWrapInner">
      <div class="container text-center">
        <div class="row">
          <div class="col">
            <div class="card" style="width: 18rem">
              <img src="https://cdn.pixabay.com/photo/2021/09/09/12/27/child-6610447_960_720.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <!-- <h5 class="card-title">OREO-OZO</h5> -->
                <p class="card-text"></p>
                <a href="/admin_users" class="btn btn-primary btn-lg">회원 관리</a>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card" style="width: 18rem">
              <img src="https://cdn.pixabay.com/photo/2021/12/23/09/17/bread-6889039_960_720.jpg" class="card-img-top"
                alt="..." />
              <div class="card-body">
                <!-- <h5 class="card-title">Bakery Shop</h5> -->
                <p class="card-text"></p>
                <a href="/admin_products" class="btn btn-primary btn-lg">상품 관리</a>
              </div>
            </div>
          </div>
          <div class="col">
          <div class="card" style="width: 18rem; ; margin-left: 50px;">
            <img
              src="https://cdn.pixabay.com/photo/2020/09/16/07/46/delivery-5575698_960_720.png"
              class="card-img-top"
              alt="..."
            />
            <div class="card-body">
              <!-- <h5 class="card-title">Orders</h5> -->
              <p class="card-text"></p>
              <a
                href="/admin_orders"
                class="btn btn-primary btn-lg"
                >주문 관리</a
              >
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</body>
  <script>
    $(document).ready(function () {
        me()
    });
  </script>
</html>
