
<p></p>
<h1>회원 정보</h1>
<span class="userinfo">
    <h1>이메일 : <%- title %> </h1>
</span>

<div class="actions">
    <a onclick="getUserInfo()" class="btn btn-outline-secondary" type="button">개인정보조회</a>
</div>

