
<h1>주문 목록 조회</h1>
<br />
<div id="order-tables-container"></div>
<script>
    // 페이지 로딩 완료 시
    $(document).ready(function () {
      // getUser();
        me()
        showOrderTables();
    });

    function showOrderTables() {
        // 주문 목록을 들고올 배열
        const tableContainer = document.getElementById('order-tables-container')
        $.ajax({
            type: 'GET',
            url: `/orders`,
            // async: false,
            headers: {
                authorization: `Bearer ${localStorage.getItem('accessToken')}`,
            },
            success: function (response) {
                const orders = response.userOrders;
                console.log(response);
                for (let i = 0; i < orders.length; i++) {
                    if (orders[i].order_item.length !== 0) {
                        let tempHtml = `<table class="table table-dark table-hover">
                                  <thead>
                                    <tr>
                                      <th scope="col">#</th>
                                      <th scope="col">주문 번호</th>
                                      <th scope="col">제품 번호</th>
                                      <th scope="col">물품 수량</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <tr>
                                      <th scope="row">${i}</th>
                                      <td>${orders[i].order_id}</td>
                                      <td>${orders[i].order_item[0].product_id}</td>
                                      <td>${orders[i].order_item[0].item_quantity}</td>
                                    </tr>`
                        const items = orders[i].order_item;
                        for (let j = 1; j < items.length; j++) {
                            tempHtml += `<tr class="">
                                          <th scope="row"></th>
                                          <td></td>
                                          <td>${items[j].product_id}</td>
                                          <td>${items[j].item_quantity}</td>
                                        </tr>
                                    </tbody>
                                </table>`
                        }
                    tableContainer.innerHTML += tempHtml;
                    }
                }
            },
            error: function (response) {
                console.log(response.responseJSON.message);
            },
        });
    }
</script>


