<h1>상품 등록 페이지</h1>

<div class="container">
    <div class="forms">
      <div class="form signup">
        <span class="title">상품 등록</span>

        <form
          action="/products/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <div class="form-group">
<!--            <div class="input-field">-->
<!--              상품번호: -->
<!--              <div>33</div>-->
<!--              <i class="uil uil-comment-dots"></i>-->
<!--            </div>-->
            <div class="input-field">
              상품명:
              <input
                id="inputTitle"
                type="text"
                placeholder="상품명을 입력하세요"
                required
              />
              <i class="uil uil-user"></i>
            </div>
            <div class="input-field">
              판매가:
              <input
                id="inputPrice"
                type="text"
                placeholder="판매가를 입력하세요"
                required
              />
              <i class="uil uil-phone icon"></i>
            </div>
            <div class="input-field">
              상세설명:
              <input
                id="inputDetail"
                type="text"
                placeholder="제품 상세설명을 입력하세요"
                required
              />
              <i class="uil uil-home icon"></i>
            </div>

            <div class="input-image-field">
              이미지:
              <div id="image-show">
                <img id="image"/>
              </div>
              <input
                type="file"
                name="userfile"
                id="image_file"
                accept="image/*"
              /><button ></button>
            </div>
            <div class="input-field button">
              <button
                type="button"
                onclick="upload()"
              >등록하기</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>