<div class="main-section-container" style="margin:30px auto; width: 70%">
    <h1>상품 등록 페이지</h1>
    <br>
    <div id="product-register-form">
        <form>
            <br>
            <div class="row mb-3">
                <label for="inputEmail3" class="col-sm-2 col-form-label">상품명</label>
                <div class="col-sm-10">
                    <input id="inputTitle"
                           type="text"
                           placeholder="상품명을 입력하세요"
                           required
                           class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">가격</label>
                <div class="col-sm-10">
                    <input
                            id="inputPrice"
                            type="text"
                            placeholder="판매가를 입력하세요"
                            required
                            class="form-control">
                </div>
            </div>
            <div class="row mb-3">
                <label for="inputPassword3" class="col-sm-2 col-form-label">상세설명</label>
                <div class="col-sm-10">
          <textarea
                  id="inputDetail"
                  placeholder="제품 상세설명을 입력하세요"
                  class="form-control"
                  value="원래 상품명"
                  style="height: 100px"></textarea>
                </div>
            </div>

            <div class="input-image-field">
              이미지:
              <div id="image-show">
                <img id="image"/>
              </div>
              <input
                type="file"
                name="userfile"
                id="image_file"
                accept="image/*"
              /><button ></button>
            </div>
            <div class="input-field button">
              <button
                type="button"
                onclick="upload()"
              >등록하기</button>
            </div>
            <div class="row mb-3">
                <div id="image-show">
                    <img id="image"/>
                </div>
                <label for="formFile" class="col-sm-2 col-form-label">이미지</label>
                <div class="col-sm-10">
                    <input class="form-control" type="file" onchange="loadFile(this)" name="userfile" id="formFile">
                </div>
            </div>
            <button type="button"
                    onclick="applyProduct()"
                    class="btn btn-primary">등록하기
            </button>
            <button type="button" onclick="history.back()" class="btn btn-secondary">취소</button>
        </form>
    </div>
  </div>
</div>