.loginCard {
    width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #f6f5f0;
    color: #721313;
}
.loginCard form {
    padding: 30px 22px;
}
.loginCard form input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
}
.actions {
    text-align: center;
}
.actions a{
    margin-left: 10px;
}