.signupCard {
    width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #f6f5f0;
    color: #721313;
}
.signupCard form {
    padding: 30px 22px;
}
.signupCard form input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
}
.signupCard form button {
    /* width: 100%; */
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
}
.signupCard form span {
    /* width: 100%; */
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
}
.signup_actions {
    text-align: center;
}
.signup_actions a{
    margin-left: 10px;
}