:root {
  --bs-font-sans-serif: 'Rubik', sans-serif;
}

.container-xxl { max-width: 1530px; }

body {
  background-image: url("../img/foods.svg");
  background-color: rgb(243, 243, 243);
}


header {
    background-color:rgb(247, 235, 220) ;
    padding: 10px;
    font-size: x-large;
}

footer {
    background-color:rgb(72, 25, 25) ;
    padding: 50px;
    text-align: center;
    color: rgb(212, 202, 202);
    font-size: large;
}

a { color: var(--bs-dark); }


/* 마이페이지 */
.userinfo {
    text-align: center;
    font-size: large;
    color: rgb(47, 26, 182);
}

/* 주문정보 */
.orderinfo {
    text-align: center;
    font-size: large;
    color: rgb(41, 75, 76);

} 