:root {
  --bs-font-sans-serif: 'Rubik', sans-serif;
}

.container-xxl { 
  max-width: 1530px; 
}

body {
  background-image: url("../img/foods.svg");
  background-color: rgb(243, 243, 243);
}


header {
    background-color:rgb(247, 235, 220) ;
    padding: 10px;
    font-size: x-large;
}


footer {
    background-color:rgb(72, 25, 25) ;
    padding: 50px;
    text-align: center;
    color: rgb(212, 202, 202);
    font-size: large;
}

a { color: var(--bs-dark); }




/* 마이페이지 */
.userinfo {
    text-align: center;
    font-size: large;
    color: rgb(47, 26, 182);
}

/* 주문정보 */
.orderinfo {
    text-align: center;
    font-size: large;
    color: rgb(41, 75, 76);
} 

/* 메인 빵 사진 */
.mainimgOuter {
  width: 100%;
  height: 500px;
  overflow: hidden;

}
.mainimginner {
  max-width: 100%;
  width: auto !important;
  height: auto ; 
  max-width: 100%;
  display: block;
}

/* 오늘의 상품 제목 */
.todayitemstitle {
  display: block; 
  text-align: center;
  font-size: 150%;
  color: #683b28;
  line-height: 45px; 
  font-weight: 500;
  padding-top: 3%; 
  padding-bottom: 1%; 
}

/* 오늘의 상품 카드들 */
.products_container {
  max-width:95%;
  max-height:100%;

}

.card-body {
  width:25%;
  height: 100%;
  margin-bottom : 4%;
  /*border: 1px solid black;*/ 

}

.card_img_div {
  text-align: center;
}

.card-img-top {
  max-width:95%;
  max-height:100%;
}



.pagination {
  justify-content: center;
  align-content: center;
  padding-top: 1%; 
  padding-bottom: 1%; 
}